/* Style your cards here */

.cards {
	display: flex;
	justify-content: space-between;
}

.card {
	background-color: white;
	width: 31%;
	border-radius: 4px;
}

.card-top {
	padding: 16px;
}

.card-bottom {
	border-top: 1px solid lightgrey;
	padding: 16px;
	text-align: center;
}

.card-bottom a {
	color: black;
}

.card-image {
	height: 200px;
	background-size: cover;
	background-position: center;
	position: relative;
}

.card-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 8px 0;
}

.fa-heart {
	color: white;
	position: absolute;
	top: 8px;
	right: 8px;
}

.fa-star {
	color: #f2be7b;
}

.fa-star.star-grey { /* targeting the .fa-star class, which also has the star-grey class attached */
	color: lightgrey;
}














